/* body, html {
   
} */

html, body , #app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

footer {
    background-color: rgba(129, 127, 127, 0.815);
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 100%;
    padding: 20px;
}

.title {
    
    margin-bottom: 50px;
  }


  .container-title {
    background-color: #0056b3;;
    justify-content: center;
    text-align: center;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(90, 90, 90, 0.493);
    width: 600px;
    margin: 50px auto;
    
  }

  /* footer {

    font-weight: bold;
    background-color: #c4c4c4;
    text-align: center;
    padding: 20px 0;


  } */


  .tabela {
    width: 1000px;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;
    margin-bottom: 100px;

}
.cabeçalho {
    border-radius: 10px;
    background-color:#0056b3;
    color: black;
    font-weight: bold;

}
.tabela_container {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: 20px 10px;
}

button {
    flex: 1;
    background-color:  #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    transition: 0.5s;
}
.text {
    width: 400px;
}


table, td {
    border: 2px solid black;
    font-weight: bold;
}
